{% extends "basefront.html.twig" %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>        
                <th class="text-left align-top" scope="col">
                    Recette
                    <a href="{{ path('recettes.sort', {champ:'nom', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('recettes.sort', {champ:'nom', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th class="text-center align-top" scope="col">
                    Note
                    <a href="{{ path('recettes.sort', {champ:'note', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('recettes.sort', {champ:'note', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th class="text-center align-top" scope="col">
                    Date
                    <a href="{{ path('recettes.sort', {champ:'datecreation', ordre:'ASC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('recettes.sort', {champ:'datecreation', ordre:'DESC'}) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for repa in repas %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            <a href="#">{{ repa.nom }}</a>
                        </h5>
                    </td>
                    <td class="text-center">
                         <strong>
                            {% if repa.note<10 %}
                                <div class="text-danger">
                                    {{ repa.note }}/20
                                </div>
                            {% else %}
                                <div class="text-success">
                                    {{ repa.note }}/20
                                </div>                  
                            {% endif %}
                        </strong>
                    </td>
                    <td class="text-center">
                        {{ repa.datecreationstring }}
                    </td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}